In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read business.csv file
df_business = pd.read_csv('business.csv')

# Get the following columns: address, attributes, categories, city, name, postal_code, review_count, stars, state
df_business = df_business[['address', 'attributes', 'categories', 'city', 'name', 'postal_code', 
                           'review_count', 'stars', 'state']]

# Get businesses in the 'state' of NV
df_business = df_business.loc[df_business['state'] == ('NV')]

# Create a column to check if the business is a 'Restaurant'
df_business['is a restaurant'] = df_business['categories'].str.contains("Restaurants")

# Filter dataframe for rows that are True for 'is a restaurant'
df_business = df_business.loc[df_business['is a restaurant'] == (True)]

# Get businesses in Las Vegas of NV
df_business = df_business.loc[df_business['city'].str.contains("Vegas")]

# Drop where attributes is NaN
df_business = df_business.dropna(subset=['attributes'])
df_business

,address,attributes,categories,city,name,postal_code,review_count,stars,state,is a restaurant
17,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...","Restaurants, Italian",Las Vegas,Carluccio's Tivoli Gardens,89119,40,4.0,NV,True
25,6055 E Lake Mead Blvd,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,Maria's Mexican Restaurant & Bakery,89156,184,4.5,NV,True
75,6125 Spring Mountain Rd,"{'RestaurantsPriceRange2': '1', 'Ambience': ""{...","Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,Dairy Queen,89146,33,2.0,NV,True
135,"Artisan Hotel, 1501 W Sahara Ave","{'RestaurantsAttire': ""'dressy'"", 'Corkage': '...","Restaurants, Pizza, Italian, American (New)",Las Vegas,Artisan Fine Dining Room,89102,3,2.0,NV,True
173,241 W Charleston Blvd,"{'BusinessParking': ""{'garage': False, 'street...","Food, Pizza, Wine Bars, Bars, Restaurants, Nig...",Las Vegas,Bistro Divino,89102,3,4.5,NV,True
174,3655 Las Vegas Blvd S,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","French, Restaurants, Creperies",Las Vegas,La Creperie,89109,535,3.5,NV,True
176,2411 W Sahara Ave,"{'RestaurantsDelivery': 'False', 'RestaurantsT...","Buffets, Restaurants",Las Vegas,Feast Buffet,89102,287,3.0,NV,True
206,"3500 Las Vegas Blvd S, Ste E11","{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Sandwiches, Restaurants, Delis, Desserts, Food",Las Vegas,Stage Deli Of Las Vegas,89109,28,3.5,NV,True
214,1263 Silverado Ranch Blvd,"{'RestaurantsDelivery': 'True', 'BusinessParki...","Middle Eastern, Restaurants, Vegetarian, Juice...",Las Vegas,Pita Pit,89183,77,4.0,NV,True
216,"3342 E Sandhill Rd, Ste 11","{'GoodForDancing': 'False', 'GoodForKids': 'Fa...","Dive Bars, Food, Bars, Pubs, Restaurants, Nigh...",Las Vegas,Mr G's Pub & Grub,89121,27,4.0,NV,True
240,"4012 S Rainbow Blvd, Ste J","{'WheelchairAccessible': 'True', 'RestaurantsD...","Restaurants, Food, Delis, Desserts, Bakeries, ...",Las Vegas,Bonjour Bakery & Deli,89103,39,4.5,NV,True
300,NaN,"{'Ambience': ""{'romantic': False, 'intimate': ...","American (Traditional), Gluten-Free, Restauran...",Las Vegas,Body Food Kitchen,89128,7,5.0,NV,True
353,"2600 W Sahara Ave, Ste 121","{'RestaurantsTakeOut': 'True', 'WiFi': ""'free'...","Sandwiches, Juice Bars & Smoothies, Coffee & T...",Las Vegas,"Coffee, Tea, or Me",89102,19,4.0,NV,True
434,3000 Paradise Rd,"{'RestaurantsTakeOut': 'False', 'RestaurantsDe...","Steakhouses, Restaurants",Las Vegas,TJ's Steakhouse,89109,60,4.0,NV,True
437,3570 Las Vegas Blvd,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Chinese, Steakhouses, Restaurants, It...",Las Vegas,Empress Court,89109,21,3.5,NV,True
464,3035 E Tropicana Ave,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Food, Bakeries, Restaurants",Las Vegas,Albinas Italian American Bakery,89121,11,4.5,NV,True
494,6720 Sky Pointe Dr,"{'Caters': 'True', 'HasTV': 'True', 'Restauran...","Restaurants, Pizza",Las Vegas,Metro Pizza,89131,303,3.5,NV,True
542,3475 Las Vegas Blvd S,"{'BusinessParking': ""{'garage': True, 'street'...","Fast Food, Mexican, Restaurants",Las Vegas,Chipotle Mexican Grill,89109,115,3.5,NV,True
543,1910 Village Center Cir,"{'OutdoorSeating': 'True', 'BusinessAcceptsCre...","Restaurants, Food, Coffee & Tea, Juice Bars & ...",Las Vegas,Paradise Boba Tea and Smoothie,89134,21,3.5,NV,True
693,2535 Las Vegas Blvd S,"{'NoiseLevel': ""'average'"", 'HasTV': 'False', ...","Pizza, Salad, Restaurants, Italian",Las Vegas,800 Degrees,89109,296,3.5,NV,True
718,7537 S Rainbow Blvd,"{'Caters': 'True', 'RestaurantsReservations': ...","Chinese, Seafood, Cantonese, Noodles, Restaurants",Las Vegas,Rainbow Kitchen,89139,101,4.0,NV,True
755,"The Palazzo Hotel, 3325 Las Vegas Blvd S","{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Japanese, Restaurants",Las Vegas,Bar Charlie,89109,14,5.0,NV,True
772,"9500 S Eastern Ave, Ste 150","{'BusinessParking': ""{'garage': False, 'street...","Restaurants, Food, Do-It-Yourself Food, Chines...",Las Vegas,Teriwoki,89123,4,3.5,NV,True
776,4105 W Sahara Ave,"{'WiFi': ""u'free'"", 'BusinessParking': ""{'gara...","Thai, Noodles, Soup, Restaurants",Las Vegas,Imsiam Thai Restaurant and Noodle,89102,66,4.5,NV,True
779,2101 Texas Star Ln,"{'NoiseLevel': ""u'loud'"", 'OutdoorSeating': 'F...","Restaurants, Mexican",North Las Vegas,Baja Fresh,89032,7,3.0,NV,True
788,221 N Rampart Blvd,"{'RestaurantsGoodForGroups': 'False', 'NoiseLe...","Restaurants, Tapas/Small Plates",Las Vegas,221 Wine Bar,89145,10,4.0,NV,True
801,2685 S Eastern Ave,"{'OutdoorSeating': 'False', 'WiFi': ""u'no'"", '...","Mexican, Fast Food, Restaurants",Las Vegas,Roberto's Taco Shop,89169,64,3.0,NV,True
815,"8480 S Las Vegas Blvd, Ste 110","{'Alcohol': ""u'beer_and_wine'"", 'RestaurantsGo...","Delis, Restaurants, Sandwiches, Pizza",Las Vegas,Deli Pizza Cafe,89123,29,3.0,NV,True
862,6593 Las Vegas Blvd S,"{'BusinessParking': ""{'garage': True, 'street'...","Restaurants, Southern, American (New), America...",Las Vegas,Ranch House Kitchen,89119,63,2.0,NV,True
873,NaN,"{'BusinessParking': ""{'garage': False, 'street...","Restaurants, American (Traditional)",Las Vegas,America Cafe,NaN,8,4.0,NV,True
...,...,...,...,...,...,...,...,...,...,...
191705,3513 E Charleston St,"{'RestaurantsDelivery': 'False', 'RestaurantsR...","Burgers, Restaurants, Mexican",Las Vegas,Playas De Cancun,89104,16,3.5,NV,True
191729,"6420 S Pecos Rd, Ste C","{'NoiseLevel': ""'average'"", 'BusinessAcceptsCr...","Fast Food, Restaurants, Salad, Chicken Wings, ...",Las Vegas,U.S Fried Chicken Halal,89120,173,4.5,NV,True
191755,6780 N Durango Dr,"{'WiFi': ""u'free'"", 'BikeParking': 'True', 'Ha...","Burgers, Fast Food, Restaurants",Las Vegas,Burger King,89149,78,1.5,NV,True
191796,"1910 Village Center Cir, Ste 9","{'WheelchairAccessible': 'True', 'RestaurantsT...","Restaurants, Japanese, Food, Poke, Sushi Bars",Las Vegas,Tail and Fin,89134,252,4.0,NV,True
191837,3885 West Martin,"{'HasTV': 'True', 'RestaurantsTableService': '...","Nightlife, American (Traditional), Pubs, Break...",Las Vegas,Pt's Gold,89118,12,4.0,NV,True
191874,3400 Las Vegas Blvd S,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Restaurants, Sushi Bars, Japanese, Asian Fusion",Las Vegas,OTORO Robata Grill & Sushi,89109,86,4.0,NV,True
191904,"3377 S Las Vegas Blvd, Ste 2610","{'RestaurantsReservations': 'False', 'GoodForK...","Noodles, Chinese, Restaurants",Las Vegas,Wasabi Jane's Rice & Noodle Works,89109,53,2.5,NV,True
191936,4855 South Jones Blvd.,"{'BusinessParking': ""{'garage': False, 'street...","Burgers, Sandwiches, American (Traditional), F...",Las Vegas,Checkers,89103,72,2.0,NV,True
191993,"2520 E Craig Rd, Ste 120","{'GoodForKids': 'True', 'Alcohol': ""'beer_and_...","Restaurants, Pizza",North Las Vegas,Pieology Pizzeria,89030,139,3.5,NV,True
191996,4830 W Sunset Rd,"{'BikeParking': 'False', 'Caters': 'False', 'B...","Chicken Wings, Restaurants, Fast Food, Souther...",Las Vegas,Popeyes Louisiana Kitchen,89118,35,2.5,NV,True
192050,3131 Las Vegas Blvd S,"{'Caters': 'False', 'Alcohol': ""u'full_bar'"", ...","Asian Fusion, Seafood, Bars, Nightlife, Restau...",Las Vegas,Andrea's,89109,514,4.0,NV,True
192057,3555 S Las Vegas Blvd,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Nightlife, Cocktail Bars, Restaurants, Bars, M...",Las Vegas,Carlos'n Charlie's,89109,467,2.5,NV,True
192064,"7785 N Durango Dr, Ste 100","{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Restaurants, Juice Bars & Smoothies, Food, Ice...",Las Vegas,Dairy Queen,89131,63,2.5,NV,True
192105,"2620 S Maryland Pkwy, Ste 176","{'Caters': 'True', 'RestaurantsTableService': ...","Filipino, Restaurants",Las Vegas,Ito'y Sariling Atin,89109,127,3.5,NV,True
192118,2151 N Rancho Dr,"{'Alcohol': ""u'none'"", 'RestaurantsTakeOut': '...","Fast Food, Mexican, Restaurants",Las Vegas,Roberto's Taco Shop,89106,38,2.5,NV,True
192146,6081 S Eastern Ave,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Restaurants, Desserts, Food, Chicken Wings, Pizza",Las Vegas,Peter Piper Pizza,89119,52,4.0,NV,True
192155,6599 Las Vegas Blvd,"{'OutdoorSeating': 'False', 'RestaurantsReserv...","Southern, Seafood, Restaurants",Las Vegas,Louis's Fish Camp,89119,11,2.5,NV,True
192188,"4970 South Arville St, Ste 104","{'RestaurantsTableService': 'True', 'HasTV': '...","Ethiopian, Restaurants",Las Vegas,Merkato Ethiopian Restaurant,89118,51,4.5,NV,True
192204,4449 W Flamingo Rd,"{'GoodForMeal': ""{'dessert': True, 'latenight'...","Restaurants, Sushi Bars, Japanese, Food, Ramen...",Las Vegas,Izakaya Cocokala,89103,102,4.0,NV,True
192230,439 Rock Quarry Way,"{'NoiseLevel': ""u'loud'"", 'RestaurantsGoodForG...","Mexican, Event Planning & Services, Food Stand...",Las Vegas,Taco Naco,89032,39,5.0,NV,True
192255,"430 E Silverado Ranch Blvd, Ste 100","{'RestaurantsReservations': 'False', 'Alcohol'...","Restaurants, Mexican",Las Vegas,Taco Tio,89123,14,3.0,NV,True
192304,467 E Silverado Ranch Blvd,"{'WiFi': ""'no'"", 'BusinessParking': ""{'garage'...","Filipino, Restaurants",Las Vegas,PhilHouse,89183,32,4.0,NV,True
192325,6101 W Vegas Dr,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Pizza, Restaurants",Las Vegas,Mo's Pizzeria,89108,20,4.0,NV,True
192444,"4165 S Grand Canyon Dr, Ste 103","{'RestaurantsTableService': 'False', 'Caters':...","Food, Bakeries, Desserts, Breakfast & Brunch, ...",Las Vegas,Cinnaholic,89147,464,4.5,NV,True
192456,7070 N Durango Dr,"{'NoiseLevel': ""u'average'"", 'OutdoorSeating':...","Mediterranean, Caterers, Event Planning & Serv...",Las Vegas,Market Grille Cafe,89149,572,4.0,NV,True
192458,3240 S Arville St,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Pizza, Chicken Wings, Italian, Res...",Las Vegas,Naked City Pizza Shop,89102,576,4.0,NV,True
192475,"8975 S Eastern Ave, Ste 3C","{'Alcohol': ""u'none'"", 'BusinessParking': ""{'g...","Sandwiches, Cafes, Pizza, Vegetarian, Gluten-F...",Las Vegas,Greens and Proteins,89123,704,4.0,NV,True
192507,7540 Oso Blanca Rd,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Restaurants, Pizza",Las Vegas,Marco's Pizza,89149,24,3.5,NV,True
192517,755 S Grand Central Pkwy,"{'NoiseLevel': ""u'loud'"", 'Caters': 'False', '...","Restaurants, Fast Food",Las Vegas,Great Steak & Potato,89106,5,2.0,NV,True
192562,5611 S Valley View Blvd,"{'Caters': 'True', 'RestaurantsTableService': ...","Farmers Market, Caterers, Food, Street Vendors...",Las Vegas,Jessie Rae's BBQ,89118,595,4.5,NV,True

In [3]:
# Convert the dictionary objects in 'attributes' to columns in a new df
df_business["attributes"] = df_business["attributes"].apply(lambda x : dict(eval(x)) )
df_attributes = df_business["attributes"].apply(pd.Series)
df_attributes

,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsDelivery,RestaurantsReservations,RestaurantsAttire,Ambience,HasTV,BYOBCorkage,NoiseLevel,RestaurantsTakeOut,...,BestNights,DogsAllowed,DriveThru,Smoking,CoatCheck,AgesAllowed,DietaryRestrictions,AcceptsInsurance,Open24Hours,RestaurantsCounterService
17,False,True,False,True,'casual',"{'romantic': True, 'intimate': False, 'tourist...",False,'no',u'quiet',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'classy...",True,NaN,'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,False,True,False,True,'dressy',NaN,True,'yes_corkage',u'quiet',False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'touris...",False,'yes_free',u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'touris...",False,'yes_free',u'average',False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,False,True,False,NaN,'casual',NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,False,True,True,False,u'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",True,NaN,u'quiet',True,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,True,True,True,True,u'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,u'quiet',True,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,False,True,True,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",False,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,False,True,False,True,u'dressy',"{'romantic': False, 'intimate': False, 'touris...",False,NaN,u'quiet',False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,True,True,False,True,u'dressy',"{'romantic': False, 'intimate': False, 'touris...",False,NaN,u'quiet',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,True,True,True,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,True,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'touris...",False,NaN,u'loud',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,False,True,False,True,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,False,True,False,True,u'formal',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,False,True,False,NaN,u'casual',NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,False,True,True,True,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",False,NaN,u'loud',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,False,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,'no',u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
815,False,True,True,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,True,True,False,True,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,False,True,False,True,u'casual',"{'romantic': False, 'intimate': False, 'classy...",True,NaN,u'loud',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191705,False,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,'quiet',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191729,True,True,True,True,'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,'average',True,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191755,False,True,False,False,u'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191796,True,True,True,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'quiet',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191837,False,True,False,False,u'casual',None,True,NaN,u'average',True,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
191874,False,True,False,True,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191904,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191936,True,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,'average',True,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191993,True,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191996,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192050,True,True,False,True,u'dressy',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,u'average',False,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192057,True,True,False,True,'casual',"{'touristy': True, 'hipster': False, 'romantic...",True,NaN,u'loud',True,...,NaN,NaN,NaN,u'yes',False,NaN,NaN,NaN,NaN,NaN
192064,False,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,'average',True,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192105,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'touris...",True,'yes_free',u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192118,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,'loud',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192146,True,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192155,False,True,False,True,'casual',NaN,NaN,'yes_corkage',NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192188,True,True,False,True,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192204,False,True,False,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",True,NaN,'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192230,NaN,True,True,True,'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,u'loud',True,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192255,NaN,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'quiet',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192304,False,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192325,False,True,True,False,'casual',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192444,True,True,False,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",True,NaN,'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192456,True,True,False,True,'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192458,False,True,True,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192475,True,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'average',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192507,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192517,False,True,False,False,u'casual',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,u'loud',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192562,False,True,True,False,'casual',"{'touristy': False, 'hipster': False, 'romanti...",False,NaN,u'average',True,...,NaN,True,NaN,'outdoor',NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Since 'Ambience' is a subjective measurement, we decided to remove it from the dataframe. 
# The definition for words like "romantic", "hipster", or "touristy" vary between Yelp users 
# and is difficult to account for.

# Drop 'Ambience' column
df_attributes = df_attributes.drop(['Ambience'], axis = 1)
df_attributes

,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsDelivery,RestaurantsReservations,RestaurantsAttire,HasTV,BYOBCorkage,NoiseLevel,RestaurantsTakeOut,RestaurantsPriceRange2,...,BestNights,DogsAllowed,DriveThru,Smoking,CoatCheck,AgesAllowed,DietaryRestrictions,AcceptsInsurance,Open24Hours,RestaurantsCounterService
17,False,True,False,True,'casual',False,'no',u'quiet',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,False,True,False,False,u'casual',True,NaN,'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,False,True,False,False,u'casual',False,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,False,True,False,True,'dressy',True,'yes_corkage',u'quiet',False,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,False,True,False,False,'casual',False,'yes_free',u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,False,True,False,False,'casual',False,'yes_free',u'average',False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,False,True,False,NaN,'casual',NaN,NaN,NaN,True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,False,True,True,False,u'casual',False,NaN,'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,False,True,False,False,'casual',True,NaN,u'quiet',True,1,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,True,True,True,True,u'casual',False,NaN,u'quiet',True,1,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,False,True,True,False,u'casual',False,NaN,NaN,True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,False,True,NaN,NaN,NaN,NaN,NaN,NaN,True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,False,True,False,True,u'dressy',False,NaN,u'quiet',False,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,True,True,False,True,u'dressy',False,NaN,u'quiet',True,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,True,True,True,False,u'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,True,True,False,False,'casual',False,NaN,u'loud',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,False,True,False,False,'casual',False,NaN,'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,False,True,False,True,'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,False,True,False,True,u'formal',NaN,NaN,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,False,True,False,NaN,u'casual',NaN,NaN,NaN,True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,False,True,True,True,'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,False,True,False,False,u'casual',False,NaN,u'loud',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,False,True,False,False,u'casual',True,NaN,u'average',False,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,False,True,False,False,'casual',False,'no',u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
815,False,True,True,False,u'casual',True,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,True,True,False,True,u'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,False,True,False,True,u'casual',True,NaN,u'loud',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191705,False,True,False,False,'casual',True,NaN,'quiet',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191729,True,True,True,True,'casual',False,NaN,'average',True,1,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191755,False,True,False,False,u'casual',False,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191796,True,True,True,False,'casual',True,NaN,u'quiet',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191837,False,True,False,False,u'casual',True,NaN,u'average',True,2,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
191874,False,True,False,True,'casual',True,NaN,u'average',True,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191904,False,True,False,False,u'casual',False,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191936,True,True,False,False,'casual',False,NaN,'average',True,1,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191993,True,True,False,False,'casual',True,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191996,False,True,False,False,u'casual',False,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192050,True,True,False,True,u'dressy',False,NaN,u'average',False,3,...,"{'monday': False, 'tuesday': False, 'friday': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192057,True,True,False,True,'casual',True,NaN,u'loud',True,2,...,NaN,NaN,NaN,u'yes',False,NaN,NaN,NaN,NaN,NaN
192064,False,True,False,False,'casual',False,NaN,'average',True,1,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192105,False,True,False,False,'casual',True,'yes_free',u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192118,False,True,False,False,'casual',False,NaN,'loud',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192146,True,True,False,False,'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192155,False,True,False,True,'casual',NaN,'yes_corkage',NaN,True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192188,True,True,False,True,'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192204,False,True,False,False,'casual',True,NaN,'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192230,NaN,True,True,True,'casual',False,NaN,u'loud',True,1,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192255,NaN,True,False,False,u'casual',True,NaN,u'quiet',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192304,False,True,False,False,'casual',False,NaN,NaN,True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192325,False,True,True,False,'casual',False,NaN,u'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192444,True,True,False,False,'casual',True,NaN,'average',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192456,True,True,False,True,'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192458,False,True,True,False,u'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192475,True,True,False,False,u'casual',True,NaN,u'average',True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192507,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192517,False,True,False,False,u'casual',True,NaN,u'loud',True,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192562,False,True,True,False,'casual',False,NaN,u'average',True,2,...,NaN,True,NaN,'outdoor',NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Ratio of missing NaN attributes
df_missing = pd.DataFrame([{'column':c, 'missing': (df_attributes[c].isnull().sum()/df_attributes.shape[0])} for c in df_attributes.columns])
df_missing = df_missing.sort_values('missing', ascending=False)
df_missing

# lists of columns that have a missing ratio greater than 0.25%
droppable_features = []
droppable_features.extend(df_missing[df_missing.missing > 0.25].column.tolist())
droppable_features

# Drop columns with more than 25% missing data
df_attributes.drop(droppable_features, axis=1, inplace=True)
df_attributes

,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsDelivery,RestaurantsReservations,RestaurantsAttire,HasTV,NoiseLevel,RestaurantsTakeOut,RestaurantsPriceRange2,RestaurantsGoodForGroups,WiFi,GoodForKids,Alcohol,BusinessParking
17,False,True,False,True,'casual',False,u'quiet',True,2,True,u'no',True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
25,False,True,False,False,u'casual',True,'average',True,1,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
75,False,True,False,False,u'casual',False,u'average',True,1,True,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
135,False,True,False,True,'dressy',True,u'quiet',False,4,True,u'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
173,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
174,False,True,False,False,'casual',False,u'average',True,2,True,'no',True,'none',"{'garage': True, 'street': False, 'validated':..."
176,False,True,False,False,'casual',False,u'average',False,1,True,'free',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
206,False,True,False,NaN,'casual',NaN,NaN,True,2,True,NaN,True,NaN,"{'garage': True, 'street': False, 'validated':..."
214,False,True,True,False,u'casual',False,'average',True,1,True,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
216,False,True,False,False,'casual',True,u'quiet',True,1,True,'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
240,True,True,True,True,u'casual',False,u'quiet',True,1,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
300,False,True,True,False,u'casual',False,NaN,True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
353,False,True,NaN,NaN,NaN,NaN,NaN,True,1,NaN,'free',NaN,NaN,"{'garage': True, 'street': False, 'validated':..."
434,False,True,False,True,u'dressy',False,u'quiet',False,3,True,u'no',False,'full_bar',"{'garage': True, 'street': False, 'validated':..."
437,True,True,False,True,u'dressy',False,u'quiet',True,3,True,NaN,True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
464,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
494,True,True,True,False,u'casual',True,u'average',True,2,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
542,True,True,False,False,'casual',False,u'loud',True,1,True,u'no',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
543,True,True,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
693,False,True,False,False,'casual',False,'average',True,2,True,'free',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
718,False,True,False,True,'casual',True,u'average',True,2,True,'free',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
755,False,True,False,True,u'formal',NaN,NaN,NaN,4,False,NaN,False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
772,False,True,False,NaN,u'casual',NaN,NaN,True,1,True,NaN,True,u'none',"{'garage': False, 'street': False, 'validated'..."
776,False,True,True,True,'casual',True,u'average',True,2,True,u'free',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
779,False,True,False,False,u'casual',False,u'loud',True,2,False,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
788,False,True,False,False,u'casual',True,u'average',False,2,False,'no',False,'full_bar',NaN
801,False,True,False,False,'casual',False,u'average',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
815,False,True,True,False,u'casual',True,u'average',True,1,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
862,True,True,False,True,u'casual',True,u'average',True,2,True,u'no',True,u'full_bar',"{'garage': True, 'street': False, 'validated':..."
873,False,True,False,True,u'casual',True,u'loud',True,2,True,NaN,True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191705,False,True,False,False,'casual',True,'quiet',True,1,True,'free',True,'none',NaN
191729,True,True,True,True,'casual',False,'average',True,1,True,u'free',True,u'none',"{'garage': False, 'street': True, 'validated':..."
191755,False,True,False,False,u'casual',False,u'average',True,1,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
191796,True,True,True,False,'casual',True,u'quiet',True,2,True,'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
191837,False,True,False,False,u'casual',True,u'average',True,2,True,'free',False,u'full_bar',None
191874,False,True,False,True,'casual',True,u'average',True,3,True,'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
191904,False,True,False,False,u'casual',False,u'average',True,2,True,u'no',True,u'none',"{'garage': True, 'street': False, 'validated':..."
191936,True,True,False,False,'casual',False,'average',True,1,True,u'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
191993,True,True,False,False,'casual',True,u'average',True,1,True,'no',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
191996,False,True,False,False,u'casual',False,u'average',True,1,True,u'no',True,u'none',NaN
192050,True,True,False,True,u'dressy',False,u'average',False,3,True,u'no',False,u'full_bar',"{'garage': True, 'street': False, 'validated':..."
192057,True,True,False,True,'casual',True,u'loud',True,2,True,'free',False,'full_bar',"{'garage': False, 'street': False, 'validated'..."
192064,False,True,False,False,'casual',False,'average',True,1,True,u'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
192105,False,True,False,False,'casual',True,u'average',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192118,False,True,False,False,'casual',False,'loud',True,1,False,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192146,True,True,False,False,'casual',True,u'average',True,2,True,'free',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
192155,False,True,False,True,'casual',NaN,NaN,True,2,True,NaN,True,'full_bar',"{'garage': True, 'street': False, 'validated':..."
192188,True,True,False,True,'casual',True,u'average',True,2,True,u'no',True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
192204,False,True,False,False,'casual',True,'average',True,2,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192230,NaN,True,True,True,'casual',False,u'loud',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192255,NaN,True,False,False,u'casual',True,u'quiet',True,1,False,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192304,False,True,False,False,'casual',False,NaN,True,1,True,'no',True,NaN,"{'garage': False, 'street': False, 'validated'..."
192325,False,True,True,False,'casual',False,u'average',True,1,True,'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
192444,True,True,False,False,'casual',True,'average',True,1,True,'free',True,'none',"{'garage': True, 'street': False, 'validated':..."
192456,True,True,False,True,'casual',True,u'average',True,2,True,'no',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
192458,False,True,True,False,u'casual',True,u'average',True,2,True,u'free',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
192475,True,True,False,False,u'casual',True,u'average',True,2,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
192507,NaN,NaN,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
192517,False,True,False,False,u'casual',True,u'loud',True,1,True,NaN,True,u'none',"{'garage': False, 'street': False, 'validated'..."
192562,False,True,True,False,'casual',False,u'average',True,2,True,u'no',True,u'none',"{'garage': False, 'street': True, 'validated':..."

In [27]:
#reset index to allow easier looping through the dataframe then drop index and level0 columns that appear as a result
df_attributes = df_attributes.reset_index()
df_attributes.drop(columns = ["index"], inplace = True)
df_attributes.drop(columns = ["level_0"], inplace = True)

for x in df_attributes['BusinessParking']:
     if "True" in x:
            return True

,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsDelivery,RestaurantsReservations,RestaurantsAttire,HasTV,NoiseLevel,RestaurantsTakeOut,RestaurantsPriceRange2,RestaurantsGoodForGroups,WiFi,GoodForKids,Alcohol,BusinessParking
0,False,True,False,True,'casual',False,u'quiet',True,2,True,u'no',True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
1,False,True,False,False,u'casual',True,'average',True,1,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
2,False,True,False,False,u'casual',False,u'average',True,1,True,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
3,False,True,False,True,'dressy',True,u'quiet',False,4,True,u'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
4,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
5,False,True,False,False,'casual',False,u'average',True,2,True,'no',True,'none',"{'garage': True, 'street': False, 'validated':..."
6,False,True,False,False,'casual',False,u'average',False,1,True,'free',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
7,False,True,False,NaN,'casual',NaN,NaN,True,2,True,NaN,True,NaN,"{'garage': True, 'street': False, 'validated':..."
8,False,True,True,False,u'casual',False,'average',True,1,True,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
9,False,True,False,False,'casual',True,u'quiet',True,1,True,'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
10,True,True,True,True,u'casual',False,u'quiet',True,1,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
11,False,True,True,False,u'casual',False,NaN,True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
12,False,True,NaN,NaN,NaN,NaN,NaN,True,1,NaN,'free',NaN,NaN,"{'garage': True, 'street': False, 'validated':..."
13,False,True,False,True,u'dressy',False,u'quiet',False,3,True,u'no',False,'full_bar',"{'garage': True, 'street': False, 'validated':..."
14,True,True,False,True,u'dressy',False,u'quiet',True,3,True,NaN,True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
15,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
16,True,True,True,False,u'casual',True,u'average',True,2,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
17,True,True,False,False,'casual',False,u'loud',True,1,True,u'no',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
18,True,True,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'..."
19,False,True,False,False,'casual',False,'average',True,2,True,'free',True,u'beer_and_wine',"{'garage': True, 'street': False, 'validated':..."
20,False,True,False,True,'casual',True,u'average',True,2,True,'free',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
21,False,True,False,True,u'formal',NaN,NaN,NaN,4,False,NaN,False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
22,False,True,False,NaN,u'casual',NaN,NaN,True,1,True,NaN,True,u'none',"{'garage': False, 'street': False, 'validated'..."
23,False,True,True,True,'casual',True,u'average',True,2,True,u'free',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
24,False,True,False,False,u'casual',False,u'loud',True,2,False,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
25,False,True,False,False,u'casual',True,u'average',False,2,False,'no',False,'full_bar',False
26,False,True,False,False,'casual',False,u'average',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
27,False,True,True,False,u'casual',True,u'average',True,1,True,u'no',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
28,True,True,False,True,u'casual',True,u'average',True,2,True,u'no',True,u'full_bar',"{'garage': True, 'street': False, 'validated':..."
29,False,True,False,True,u'casual',True,u'loud',True,2,True,NaN,True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6620,False,True,False,False,'casual',True,'quiet',True,1,True,'free',True,'none',False
6621,True,True,True,True,'casual',False,'average',True,1,True,u'free',True,u'none',"{'garage': False, 'street': True, 'validated':..."
6622,False,True,False,False,u'casual',False,u'average',True,1,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6623,True,True,True,False,'casual',True,u'quiet',True,2,True,'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
6624,False,True,False,False,u'casual',True,u'average',True,2,True,'free',False,u'full_bar',False
6625,False,True,False,True,'casual',True,u'average',True,3,True,'no',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
6626,False,True,False,False,u'casual',False,u'average',True,2,True,u'no',True,u'none',"{'garage': True, 'street': False, 'validated':..."
6627,True,True,False,False,'casual',False,'average',True,1,True,u'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
6628,True,True,False,False,'casual',True,u'average',True,1,True,'no',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
6629,False,True,False,False,u'casual',False,u'average',True,1,True,u'no',True,u'none',False
6630,True,True,False,True,u'dressy',False,u'average',False,3,True,u'no',False,u'full_bar',"{'garage': True, 'street': False, 'validated':..."
6631,True,True,False,True,'casual',True,u'loud',True,2,True,'free',False,'full_bar',"{'garage': False, 'street': False, 'validated'..."
6632,False,True,False,False,'casual',False,'average',True,1,True,u'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
6633,False,True,False,False,'casual',True,u'average',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6634,False,True,False,False,'casual',False,'loud',True,1,False,'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6635,True,True,False,False,'casual',True,u'average',True,2,True,'free',True,u'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
6636,False,True,False,True,'casual',NaN,NaN,True,2,True,NaN,True,'full_bar',"{'garage': True, 'street': False, 'validated':..."
6637,True,True,False,True,'casual',True,u'average',True,2,True,u'no',True,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
6638,False,True,False,False,'casual',True,'average',True,2,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6639,NaN,True,True,True,'casual',False,u'loud',True,1,True,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6640,NaN,True,False,False,u'casual',True,u'quiet',True,1,False,u'no',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6641,False,True,False,False,'casual',False,NaN,True,1,True,'no',True,NaN,"{'garage': False, 'street': False, 'validated'..."
6642,False,True,True,False,'casual',False,u'average',True,1,True,'no',True,'none',"{'garage': False, 'street': False, 'validated'..."
6643,True,True,False,False,'casual',True,'average',True,1,True,'free',True,'none',"{'garage': True, 'street': False, 'validated':..."
6644,True,True,False,True,'casual',True,u'average',True,2,True,'no',True,'beer_and_wine',"{'garage': False, 'street': False, 'validated'..."
6645,False,True,True,False,u'casual',True,u'average',True,2,True,u'free',False,u'full_bar',"{'garage': False, 'street': False, 'validated'..."
6646,True,True,False,False,u'casual',True,u'average',True,2,True,u'free',True,u'none',"{'garage': False, 'street': False, 'validated'..."
6647,NaN,NaN,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,False
6648,False,True,False,False,u'casual',True,u'loud',True,1,True,NaN,True,u'none',"{'garage': False, 'street': False, 'validated'..."
6649,False,True,True,False,'casual',False,u'average',True,2,True,u'no',True,u'none',"{'garage': False, 'street': True, 'validated':..."

In [7]:
df_attributes['BusinessParking'].replace('None',np.nan,inplace = True)
df_attributes['BusinessParking'].fillna(False,inplace = True)
#df_attributes['BusinessParking'].replace('None',False)
# df_attributes = df_attributes.loc['True' in df_attributes['BusinessParking'].values()]
df_attributes

def search(values, searchFor):
    for k in values:
        for v in values[k]:
            if searchFor in v:
                return True
    return False

parking = []
for x in df_attributes['BusinessParking']:
    #parking.append(search(x., 'True'))
    
    
print(parking)

AttributeError: 'str' object has no attribute 'values'

In [ ]:
# Concat df_business and df_attributes
df_combined = pd.concat([df_business, df_attributes], axis=1)
df_combined

In [ ]:
# Create new df for restaurants between 1 and 2 dollar signs
df_price_1to2 = df_combined.loc[(df_combined['RestaurantsPriceRange2'] == ('1')) 
                                | (df_combined['RestaurantsPriceRange2'] == ('2'))]

# Create new df for restaurants between 3 and 4 dollar signs
df_price_3to4 = df_combined.loc[(df_combined['RestaurantsPriceRange2'] == ('3')) 
                                | (df_combined['RestaurantsPriceRange2'] == ('4'))]

# Create new df for restaurants with 5 dollar signs
df_price_5 = df_combined.loc[df_combined['RestaurantsPriceRange2'] == ('5')]

Viewing Restaurants with a 1-2 dollar price range according to Yelp